<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="utf-8">
 	<title>test</title>
 	<script src="{{static_url('js/dragresize.js')}}"></script> 
 	<link href="{{static_url('css/common.css')}}" rel="stylesheet" type="text/css" />
<script type="text/javascript"> 
var drag = new DragResize('drag', { minWidth: 50, minHeight: 50}); 
drag.isElement = function(elm){
	if (elm.className && elm.className.indexOf('drsElement') > -1) return true;
};
drag.isHandle = function(elm){
 	if (elm.className && elm.className.indexOf('drsMoveHandle') > -1) return true;
}; 
drag.apply(document);

//]]>
</script>

</head> 
<!--
 Here's our draggable elements.
 All that's required is that they have a relative or absolute CSS 'position',
 and are matched by the isElement/isHandle methods of a DragResize object.
 Easy!
-->

<div class="drsElement" style="left: 50px; top: 0px; width: 650px; height: 420px;">
 	<div class="drsMoveHandle">Div 0</div>
 Content
</div>
 
 

</body>
</html>