{% extends base.html %} 
{% block title %}
<title>TEST | 投资智慧</title>
{% end %} 
{% block js_css %}

<link href="{{static_url('css/forum.css')}}" rel="stylesheet" type="text/css" />
<script src="{{static_url('js/jquery-ui-1.8.16.core-min.js')}}"></script>
<script src="{{static_url('js/jquery.ui.draggable.min.js')}}"></script>  
{% end %} 


{% block content %}
<div id="chatroom" class="modal">
	<div id="chatroom-header" class="modal-header">
		<a href="#" class="close">×</a> <span>资讯交流聊天室</span>
	</div> 
</div>


<script type="text/javascript">
$("#chatroom").draggable({handle: 'div.modal-header'});  
</script>

{% end %}
