<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>d3 test</title>
    <link href="{{static_url('css/bootstrap-1.4.min.css')}}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{static_url('js/d3.js')}}"></script> 
  </head>

  <body>
	<script type="text/javascript">
		var matrix = [ 
		        [ 11975, 5871, 8916, 2868 ],
				[ 1951, 10048, 2060, 6171 ], 
				[ 8010, 16145, 8090, 8045 ],
				[ 1013, 990, 940, 6907 ] 
		        ];

	var tr = d3.select("body").append("table").selectAll("tr")
	    .data(matrix)
	  .enter().append("tr");

	var td = tr.selectAll("td")
	    .data(function(d) { return d; })
	  .enter().append("td")
	    .text(function(d) { return d; });
	
	</script>
    
  </body>
</html> 