{% extends ../base.html %} 
{% block title %}
<title>资讯交流 | 投资智慧</title>
{% end %} 
{% block js_css %}
<link href="{{static_url('css/forum.css')}}" rel="stylesheet" type="text/css" />
<script src="{{static_url('js/jquery-ui-1.8.16.core-min.js')}}"></script>
<script src="{{static_url('js/jquery.ui.draggable.min.js')}}"></script>
<script src="{{static_url('js/forum.js')}}"></script>
<script src="{{static_url('js/websock.js')}}"></script>
<script src="{{static_url('js/im.js')}}"></script>
{% end %} 


{% block content %}

<div class="page-header">
	<h1>
		资讯交流 <small>简洁、实用、快速的资讯交流社区</small>
	</h1>
</div>
<div class="row">
	<div class="span12">

		<div class="forum-filter clearfix">
			<div class="clearfix">
				<ul id="category" class="category">
					<li onclick="categoryClicked(this);" class="active" value="0"><a href="/">全部</a></li>
					{% for c in cats %}
					<li onclick="categoryClicked(this);" value="{{c['id']}}"><a href="/">{{c['name']}}</a></li>
					{% end %}
				</ul>
			</div>
			<div class="clearfix">
				<ul class="tabs forum">
					<li class="active"><a href="#">最新</a></li>
					<li><a href="#">热门</a></li> 					
					<li><a href="#">尚未回复</a></li>
					<li><a href="#">最新回复</a></li>
				</ul>
			</div>
		</div> 
		<ul class="threads">
		{% for thread in threads %}
			{% set num = randrange(10) %}
			<li class="thread clearfix">
				<div>
				<a href="#"><img src="{{static_url('img/avatar/%s.jpg'%num)}}"></a> 
				</div>
				<div class="summary">
					<span><a href="#" class="title">{{thread['title']}}</a></span> 
					<span class="comment">最近回复 {{time_fmt(thread['created_at'])}} by 洪磊明</span> 
				</div> 
				<div class="stat"> 
					{% set reply = randrange(100) %}
					{% set view = randrange(1000)+1000 %}
					<span><span class="num">{{reply}}</span>回/<span class="num">{{view}}</span>阅</span> 
					<span class="created">{{time_fmt(thread['created_at'])}}</span> 
				</div>	
			</li>
		{% end %}
		</ul>
		
		<div id="chatroom" class="modal hide  in"> 
            <div class="modal-header">
              <a href="#" class="close">×</a>
  			  <span>资讯交流聊天室</span>
            </div>
            <div class="modal-body"> 
	            <div class="left-board"> 
	            	<div id="msg-board" class="msg-board scrollbar"> 
	            		<ul id="msgs">
	            		</ul>
	            	</div>
	            	<div class="msg-smiles clearfix">
	            		<a href="#"><img src="{{static_url('img/smiles/smile.png')}}"> <span>表情</span>
	            	</a>
	            	</div>
	            	<div class="msg-box"> 
	            		<textarea id="msg-box" placeholder="Ctrl+Enter发送,Enter换行"></textarea>
	            	</div>	   
	            	<div class="msg-cmd"> 
	            		<a href="#" onclick="publish();" class="btn primary pull-right">发 送</a>
	            		<span class="hint pull-right">还可以输入1000个汉字</span>
	            	</div>	         
	            </div> 
	            
	            <div class="right-board"> 
	            	<input class="search" type="text" placeholder="输入成员名字">
		            <div class="mem-board scrollbar">
		            <span>在线成员（20/160）</span>
		            <ul class="mem-list">
		            <li class="active clearfix">
		            	<a href="#" class="pull-left"><img src="{{static_url('img/avatar/0.jpg')}}"></a> 
		            	<a href="#" class="pull-left">洪磊明</a>
		            </li>
		            {% for i in range(20) %} 
		            {% set num = randrange(10) %}
		            	<li class="clearfix">
		            	<a href="#"><img src="{{static_url('img/avatar/%s.jpg'%num)}}"></a> 
		            	<a href="#" class="name">洪磊明</a>
		            	</li>
		            {% end %}
		            </ul>
		            </div>
	            </div> 
            </div>
        </div>
	</div>
	
	<div class="span4">
		<div><h3>在线会员</h3></div>
		<ul class="image-list clearfix">  
			{% for i in range(20) %}
			{% set num = randrange(10) %}
			<li>
				<span><a href="#"><img src="{{static_url('img/avatar/%s.jpg'%num)}}"></a> </span>
				<span><a href="#">洪雷鸣</a></span>
			</li>
			{% end %} 
		</ul>
		<div class="web-im">
			<a href="#" class="btn primary" onclick="showChatRoom();return false;">进入聊天室 （43）  <span class="label success">聊天中</span></a>
			
		</div>
		
		<div class="hot-tags">
			<h3>热议标签</h3>
			<ul class="tags">
				{% for tag in hot_tags %}
				<li><a href="#" style="font-size: {{tag['size']}}px">{{tag['name']}}</a></li>
				{% end %}
			</ul>
		</div>
	</div>
	
	
</div>
{% end %}
