{% extends ../base.html %} 
{% block title %}
<title>资讯交流 | 投资智慧</title>
{% end %} 
{% block js_css %}
<script type="text/javascript" src="{{static_url('js/d3/d3.min.js')}}"></script>
<link type="text/css" rel="stylesheet" href="{{static_url('css/quote/quote.css')}}"/>
{% end %} 


{% block content %}

	<div id="container"></div>  
	
    <script type="text/javascript">

    var data = d3.range(40).map(function(i) {
      return {x: i / 39, y: 20+10*Math.random()};
    }); 
    	  
    	  
    function transform(data){  
    	var	p = 30,
    		w = 960 - 2*p,
    		h = window.innerHeight - 2*p - 100 ,
    	    x = d3.scale.linear().domain([0, 1]).range([0, w]),
    	    y = d3.scale.linear().domain([20, 30]).range([h, 0]); 
    	
     	d3.select("#my_svg").remove(); 
     	
    	var vis = d3.select("#container")
    		.data([data])
    		.append("svg:svg")
    		  .attr("id","my_svg")
    		  .attr("width", w + p * 2)
    		  .attr("height", h + p * 2)
    		.append("svg:g")
    		  .attr("transform", "translate(" + p + "," + 10 + ")");
    	 
    	//x-axis
    	var x_ticks = x.ticks(10);
    	var axis_x_count = x_ticks.length;
    	var rules = vis.selectAll("g.rulex")
    	    .data(x_ticks)
    	  .enter().append("svg:g")
    	    .attr("class", "rulex");
    	
    	function axis_x_style(d,i){
    		if(i==0 || i==axis_x_count-1) return "normal";
    		if(i == Math.floor(axis_x_count/2)) return "bold";
    		return "dash";
    	}
    	rules.append("svg:line")
    		.attr("class", axis_x_style)
    		.attr("x1", x)
    		.attr("x2", x)
    		.attr("y1", 0)
    		.attr("y2", h);   
    	rules.append("svg:text")
    		.attr("x", x)
    		.attr("y", h + 3)
    		.attr("dy", ".71em")
    		.attr("text-anchor", "middle")
    		.text(x.tickFormat(axis_x_count));
     
    	
    	//y-axis
    	var y_ticks = y.ticks(20);
    	var axis_y_count = y_ticks.length;
    	var rules = vis.selectAll("g.ruley")
    		.data(y_ticks)
    		.enter().append("svg:g")
    		.attr("class", "ruley");
    	function axis_y_style(d,i){ 
    		if(i == Math.floor(axis_y_count/2)) return "bold";
    		return "normal";
    	}   
    	rules.append("svg:line")
    	    .attr("class", axis_y_style)
    	    .attr("y1", y)
    	    .attr("y2", y)
    	    .attr("x1", 0)
    	    .attr("x2", w + 1);
    	 
    	
    	rules.append("svg:text")
    	    .attr("y", y)
    	    .attr("x", -3)
    	    .attr("dy", ".35em")
    	    .attr("text-anchor", "end")
    	    .text(y.tickFormat(axis_y_count));
    	
    	vis.data([data])
    		.append("svg:path")
    		.attr("class", "line")
    		.attr("d", d3.svg.line()
    				.x(function(d) { return x(d.x); })
    				.y(function(d) { return y(d.y); }));

    }
    transform(data);
    window.onresize = function(event){
    	transform(data);
    }
    
    
    </script>
{% end %}
{% block footer %}
{% end %}