{% extends ../base.html %} 
{% block title %}
<title>资讯交流 | 投资智慧</title>
{% end %} 
{% block js_css %}

<link href="{{static_url('css/forum.css')}}" rel="stylesheet" type="text/css" />

<script src="{{static_url('js/dragresize.js')}}"></script>
<script src="{{static_url('js/forum.js')}}"></script>
<script src="{{static_url('js/websock.js')}}"></script>
<script src="{{static_url('js/im.js')}}"></script>
{% end %} 


{% block content %}

<div class="page-header">
	<h1>
		资讯交流 <small>简洁、实用、快速的资讯交流社区</small> <small>【Ctrl + Enter打开聊天室】</small>
	</h1>
</div>
<div class="row">
	<div class="span12">

		<div class="forum-filter clearfix">
			<div class="clearfix">
				<ul id="category" class="category">
					<li onclick="categoryClicked(this);" class="active" value="-1">全部</li>
					{% for c in cats %}
					<li onclick="categoryClicked(this);" value="{{c['id']}}">{{c['name']}}</li>
					{% end %}
				</ul>
			</div>
			<div class="clearfix">
				<ul class="tabs forum">
					<li class="active"><a href="#">最新</a></li>
					<li><a href="#">热门</a></li> 					
					<li><a href="#">尚未回复</a></li>
					<li><a href="#">最新回复</a></li>
				</ul>
			</div>
		</div> 
		<ul id="threads" class="threads">
		{% include thread-list.html %}
		</ul> 
	</div>
	
	<div class="span4">
		<div><h3>在线会员</h3></div>
		<ul class="image-list clearfix">  
			{% for i in range(20) %}
			{% set num = randrange(10) %}
			<li>
				<span><a href="#"><img src="{{static_url('img/avatar/%s.jpg'%num)}}"></a> </span>
				<span><a href="#">洪雷鸣</a></span>
			</li>
			{% end %} 
		</ul>
		<div class="web-im">
			<a href="#" class="btn primary" onclick="showChatRoom();return false;">进入聊天室 （43）  <span class="label success">聊天中</span></a>
			{% include chatroom.html %}
		</div>
		
		<div class="hot-tags">
			<h3>热议标签</h3>
			<ul class="tags">
				{% for tag in hot_tags %}
				<li><a href="#" style="font-size: {{tag['size']}}px">{{tag['name']}}</a></li>
				{% end %}
			</ul>
		</div>
	</div>
</div>



{% end %}
