{% extends ../base.html %} 
{% block title %}
<title>资讯交流 | 投资智慧</title>
{% end %} 
{% block js_css %}
<link type="text/css" rel="stylesheet" href="{{static_url('css/quote/quote.css')}}"/>
<script src="{{static_url('js/quote/quote.js')}}"></script>
{% end %} 
{% block content %} 
<table class="quotes ">
<thead>
  <tr>
  	<th class="idx header"></th>
    <th class="header">代码</th>
    <th class="name header">名称</th> 
    <th class="header">涨幅%</th>
    <th class="header">现价</th>
    <th class="header">涨跌</th>
    <th class="header">成交金额 </th> 
    <th class="header">换手%</th>
    <th class="header">市盈率</th>
    <th class="header">买入价</th>
    <th class="header">卖出价</th> 
    <th class="header">今开</th>
    <th class="header">昨收</th>
    <th class="header">最高</th>
    <th class="header">最低</th>
    <th class="header">振幅%</th>
  </tr>
</thead>
<tbody> 
{% set i=0 %}
{% for q in quotes %}
	{% set i += 1 %} 
	{% set closed = q['closed'] %} 
  	<tr id="{{i}}" onmousedown="q_line_clicked(this);">
  		 <td class="idx">{{i}}</td>
	     <td class="code">{{q['code']}}</td>
	     <td class="name">{{q['name']}}</td>
	     {% set value = uniform(-0.1,0.1)*100 %}
	     <td class="{{q_class(value)}}">{{'%.2f'%value}}</td> <!-- 涨跌幅 -->
	     <td class="{{q_class(value)}}">{{q['price']}}</td>
	     <td class="{{q_class(value)}}">{{'%.2f'%(value*float(q['open'])/100)}}</td><!-- 涨跌额 -->
	     <td>{{q_money(q['turnover'])}}</td>
	     <td>{{'%.2f'%(uniform(0,0.1)*100)}}</td>
	     <td>{{'%.1f'%(uniform(20,200))}}</td>
	     <td class="{{q_class2(q['buy1'][1],closed)}}">{{q['buy1'][1]}}</td>
	     <td class="{{q_class2(q['sell1'][1],closed)}}">{{q['sell1'][1]}}</td>
	     <td class="{{q_class2(q['open'],closed)}}">{{q['open']}}</td>
	     <td>{{closed}}</td>
	     <td class="{{q_class2(q['highest'],closed)}}">{{q['highest']}}</td>
	     <td class="{{q_class2(q['lowest'],closed)}}">{{q['lowest']}}</td>
	     <td>{{'%.2f'%(uniform(0,0.1)*100)}}</td>
 	</tr> 
{% end %}
 </tbody>
</table>


<div class="footer">
	<span class="block">
	    <span class="b">上证</span>
	    <span>2528.71</span> 
	    <span>+2.63</span>
	    <span>0.03%</span>
	    <span>276亿</span>
	</span>
  
   <span class="block">
    <span>深证</span>
    <span>10630.71</span> 
    <span>+42.20</span>
    <span>0.32%</span>
    <span>176亿</span>
   </span>
   
   <span class="block">
    <span>中小</span>
    <span>5365.12</span> 
    <span>+5.18</span>
    <span>0.32%</span>
    <span>136亿</span>
   </span>
  </div>
    
	 
{% end %}
{% block footer %}
{% end %}