html { 
	overflow: auto;
	background-color: #080808;  

}
body {
	background-color: #080808; 
    position: absolute;
    top: 40px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding: 0px;  
    overflow-y: scroll;
	overflow-x: hidden;
}
.container {
    width: 96%;

}
.container > .content {
    background-color: #080808; 
    font-size: 10px;
    padding: 0;
}
line.normal {
	stroke: red;
	shape-rendering: crispEdges;
}
line.bold {
	stroke: red;
	stroke-width: 2px;
	shape-rendering: crispEdges;
}
line.dash {
	stroke: red;
	shape-rendering: crispEdges;
	stroke-dasharray: 2;
}
text {
	fill: yellow;
}
.line {
	fill: none;
	stroke: white;
	stroke-width: 1px;
}



div.footer{
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px; 
	height: 44px; 
	font-size: 16px; 
	color: #0C0;  
	background-color: #222;
	border-top: 1px solid #444;
}
.footer .cats > li{
	float: left;
	background-color: #333;
	margin: 0 2px;
	padding: 2px 6px;
	color: white;
	cursor: default;
}
.footer .cats > li.active{
	background-color: #900; 
}
.footer .cats > li:hover{
	background-color: #900; 
}
 
.footer .snapshot{
	border-top: 1px solid #333;
	padding: 2px 0;
}
.footer  .block{
	margin-right: 10px;
}
.block >span:FIRST-CHILD {
	color: #CC8;
}
.block> span{
	margin-left: 6px;
}




.line_selected{ 
	background-color: #333;
}

.quotes{
	font-size: 16px;
	color: #BBB; 
} 
.quotes .header{
	padding: 4px 2px 2px 2px;
	border-bottom: 1px solid #C00;
}
.quotes span{
	float: left;
	width: 6.2%; 
	text-align: right;
	border: 1px solid transparent;
}

.header span{
	color: white;  
}
.header span.code{
	text-align: left;
}
.header span.name{
	text-align: left;
}
.quotes span.idx{
	text-align: center;
	width: 4%;
}
.data li{
	padding: 2px;
}

.data span{
	font-size: 16px;  
	color: #BBB; 
	cursor: default;
}
.data span.pos{ 
	color: #C00; 
}
.data span.neg{ 
	color: #0C0; 
}

.data span.name{
	text-align: left; 
	color: #CC8; 
}
.data span.code{ 
	text-align: left; 
	color: #CC8;
	font-weight: bold;
}

.data span.update{
	border: 1px solid #C00;
	background-color: #333;
}


.keyshot{
	position: fixed;
	bottom: 44px; 
	right: 10px; 
	
	width: 180px;
	background-color: #333;
	border: 2px solid #222;
	border-radius: 2px;
	font-size: 14px;
	
}
.keyshot input{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	width: 100%; 
	height: 26px;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	
	background-color: #444;
	color: white; 
	text-transform: uppercase;
}
.keyshot input:focus{
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none; 
}
.keyshot ul{
	padding: 2px 6px;
}
.keyshot ul > li{
	color: #CCC;
}
.keyshot ul > li span.code{
	font-weight: bold;
	margin-right: 8px;
}

.caption{
	font-size: 16px;
	margin-left: 30px;
	margin-top: 4px;
	color: #CCC;
}


::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: rgba(255, 0, 0, 0.5);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
